/* ------------------ wrap ------------------------*/
#wrap {
    margin: 3px auto 5px auto;
    width: 978px;
    position: relative;
    background: #FFF;
    box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.15);
    border-top: 0;
    text-align: left;
    border: solid 1px #82A7AD;
}
/* ------------------ header ------------------------*/
#header {
	height: 80px;
    padding: 0px 0 0px 0;
	background: #FFFAE7 url('../Images/banner.png') center no-repeat;
}
#header h1 {
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 12px 0 5px 10px;
}
#header h1 a {
    color: #57626a;
    text-decoration: none;
}
#header h1 a:hover {
    color: #57626a;
    text-decoration: none;
}
#header h2 {
    color: #000099;
    font-size: 18px;
    font-weight: 100;
    padding: 0 0 0 11px;
    letter-spacing: -1px;
    line-height: 24px;
}
/* --------------  sideNav ----------------------*/
#sideNav {
	float: left;
	width: 150px;
	margin: 8px;
	padding: 5px;
	background: #FFC194;
	border-right: 1px solid #bbb;
/*  border: solid 1px #00f; */
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.85);
}
#sideNav ul {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    list-style: none; 
    text-indent: 15px;
}
#sideNav ul li{
	padding: 2px;
	position: relative; 
	height:20px; 
	line-height:1.5em;
	background:#3f3f3f;
	border-bottom:1px solid #986342;
}
#sideNav li > ul{ 
/*	background: green; */
	visibility: hidden; 
	width: 150px; 
	position: absolute; 
	top:0px; 
	left:220px; 
	border-left:1px solid #000; 
}
#sideNav > ul > li > ul{ 
	color: #fff;
	top: 10px; 
	left: 150px; 
} 
#sideNav li:hover{ 
	background: #aaa;
} 
#sideNav li:hover > ul{ 
	visibility:visible; 
}
#sideNav ul li a{
    text-decoration:none;
    color: #FFF;
    display:block;
}
#sideNav ul li a:hover{
    background:#d40203;
}
#sideNav ul li#active{
    background:#A52A2A;
}

/* ---------------- Content ---------------------- */
#content {
	float: right;
	background: #F3F1DF;
	padding: 0;
	width: 790px;
	margin: 5px; 
/*	border: solid 1px #0000ff; 
	box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.85);*/
}
#content a {
	color: blue;
}
#content a:hover {
	color: green;
}

/* ---------------   footer ------------- */
#footer {
	clear: both;
	padding: 10px 40px 10px 40px;
	color: #302F2C;
	background: #E1F2DE;
	/* position: relative; 
	width: 898px;*/
	font-size: 1em;
	line-height: 1.5em;
	border-top: solid 1px #BFB5A4;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	text-align: center;
}

/* ------------------------ article ----------------- */
.article {
	padding: 10px;
	margin: 0 0 20px 0;
	background: #D3E4E9;
	box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.85);
/*	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.85);
	text-shadow: 1px 1px 0px rgba(255,255,255,1);  */
}
.article ol{
	padding-left: 30px;
}
.article ol li {
	text-align:justify;
    line-height: 1.5em;
    font-family: "Times New Roman";
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 1.5em;
}
.articleTitle {
	font-size: 2em;
	line-height: 2em;
	color: #191E82;
	font-weight: 400;
	text-shadow: 5px 5px 5px pink;
}
.article table{
    border: 1px solid black;
    border-collapse: collapse;
}
.article th {
    font-size: 1.1em;
	line-height: 1.4em;
    background: #F8DDE2;
    text-align: center;
    font-family: 新細明體, Verdana, "Times New Roman";
    border: 1px solid #A52A2A;
}
.article td {
    font-size: 1.1em;
    background: #C7F2C7;
    line-height: 1.4em;
    font-family: 新細明體, Verdana, "Times New Roman";
    border: solid 1px #8B6914;
}

table, th, td {
	border: 0px solid black;
	border-collapse: collapse;
	font-family: 'Times New Roman';
	font-size: 1.1em;
}
p {
    font-size: 14px;
}
